---
import Footer from '~/components/widgets/Footer.astro';
import Header from '~/components/widgets/Header.astro';
import Layout from '~/layouts/Layout.astro';

import { footerData, headerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <Header {...headerData} isSticky={true} showRssFeed showToggleTheme />
  <main
    class="bg-gradient-to-br from-blue-50 via-white to-blue-50 dark:from-slate-900 dark:via-slate-800 dark:to-slate-900"
  >
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
